.dessertContent {
    background: url(../assets/imgs/bridge.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1500px;
    display: flex;
    flex-direction: column;
}
.dessertTab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    max-width: 600px;
    max-height: 200px;
    margin: 4.5%;
    background-color: var(--module-background);
}
#dessertItemOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    gap: 1vw;
    margin-top: 55px;
    margin-left: 30%;
    padding: 1%;
}
#sweet-soup {
    width: 15rem;
}
#dessertOneTitle{
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 1rem;
    grid-column: 2/3;
    grid-row: 2/2;
}
#dessertItemTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    margin-right: 30%;
    padding: 1%;
    gap: 1vw;
}
#honey-cake {
    width: 15rem;
}
#dessertTwoTitle{
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 1rem;
    grid-column: 1/2;
    grid-row: 2/3;
}
#dessertItemThree {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    gap: 1vw;
    margin-left: 30%;
    padding: 1%;
}
#pancake {
    width: 15rem;
}

#dessertThreeTitle{
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 1rem;
    grid-column: 2/3;
    grid-row: 2/2;
}
#dessertItemFour {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    margin-right: 30%;
    padding: 1%;
    gap: 1vw;
}
#dessertFourTitle {
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 1rem;
    grid-column: 1/2;
    grid-row: 2/3;
}
#mousse {
    grid-column: 1/2;
    width: 15rem;
}
#dessertItemFive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    gap: 1vw;
    margin-left: 30%;
    margin-bottom: 50px;
    padding: 1%;
}
#dessertFiveTitle {
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 1rem;
    grid-column: 2/3;
    grid-row: 2/2;
}
.dessert-text {
    font-size: 2vw;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}
#pudding {
    width: 15rem;
}