.dessertContent {
    display: flex;
    flex-direction: column;
    padding: 50px 0px 50px 0px;
}
#dessert-background {
    align-self: center;
    transform: scale(1.6);
    color: rgb(54, 54, 54);
    position: fixed;
    z-index: -1;
    width: 1200px;
}
.dessertTab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    max-width: 600px;
    max-height: 200px;
    margin: 50px;
    background-color: rgba(35, 35, 35, 0.7);
}
#dessertItemOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    gap: 1vw;
    margin-left: 30%;
    padding: 1%;
}
#sweet-soup {
    width: 15rem;
}
#dessertOneTitle{
    color: orange;
    font-size: 1rem;
    grid-column: 2/3;
    grid-row: 2/2;
}
#dessertItemTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    margin-right: 30%;
    padding: 1%;
    gap: 1vw;
}
#honey-cake {
    width: 15rem;
}
#dessertTwoTitle{
    color: orange;
    font-size: 1rem;
    grid-column: 1/2;
    grid-row: 2/3;
}
#dessertItemThree {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    gap: 1vw;
    margin-left: 30%;
    padding: 1%;
}
#pancake {
    width: 15rem;
}

#dessertThreeTitle{
    color: orange;
    font-size: 1rem;
    grid-column: 2/3;
    grid-row: 2/2;
}
#dessertItemFour {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    margin-right: 30%;
    padding: 1%;
    gap: 1vw;
}
#dessertFourTitle {
    color: orange;
    font-size: 1rem;
    grid-column: 1/2;
    grid-row: 2/3;
}
#mousse {
    grid-column: 1/2;
    width: 15rem;
}
#dessertItemFive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    gap: 1vw;
    margin-left: 30%;
    padding: 1%;
}
#dessertFiveTitle {
    color: orange;
    font-size: 1rem;
    grid-column: 2/3;
    grid-row: 2/2;
}
.dessert-text {
    font-size: 1rem;
    font-size: 2vw;
    color: aliceblue;
}
#pudding {
    width: 15rem;
}