body, html, #content {
    height: 100vh;
}
body {
    background-color: rgb(50, 50, 50);
    margin: 0px;
}
#content {
    display: flex;
    flex-direction: column;
}
.background {
    align-self: center;
    color: rgb(54, 54, 54);
    background-image: url(../assets/imgs/skates.jpg);
    position: fixed;
    top: -700px;
    z-index: -1;
}
header {
    width: 100vw;
    background-color: rgb(50, 50, 50);
    position: fixed;
    top: 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}

.headerItem {
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    border: none;
    margin: 0px 25px 0px 25px;
    height: 25px;
    font-size: 3vw;
}
.headerItem:hover {
    cursor: pointer;
}
#fishHeader {
    color: orange;
}
.homeContent {
    height: 95vh;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .1vh;
    margin: 30px 0px 80px 0px;
}
.homeTab {
    text-align: center;
    max-width: 1000px;
    margin: 50px 50px 0px 50px;
    padding: 50px;
    background-color: rgba(39, 34, 34, 0.767);
    color: orange;
}

.footer {
    width: 100vw;
    background-color: rgb(50, 50, 50);
    position: fixed;
    bottom: 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-evenly;
}
.footerItem {
    color: orange;
    font-size: 2vw;
}