.mainContent {
    background: url(../assets/imgs/RigaSkyline.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainTab {
    text-align: center;
    max-width: 600px;
    margin: 50px;
    padding: 50px;
    font-family: var(--main-font);
    background-color: var(--module-background);
    color: var(--main-color)
}
#mainItemOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    gap: 1vw;
    margin-top: 55px;
    margin-right: 20%;
    padding: 1%;
}
#main-img-one {
    padding-left: 20%;
    width: 10rem;
}
#main-title-one {
    grid-column: 1/2;
    grid-row: 2/3;
}
#main-text-one {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/3;
}
#mainItemTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    gap: 1vw;
    margin-left: 20%;
    padding: 1%;
}
#main-img-two {
    padding-left: 20%;
    width: 10rem;
}
#main-title-two {
    grid-column: 2/3;
    grid-row: 2/3;
}
#main-text-two {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/3;
}
#mainItemThree {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    gap: 1vw;
    margin-right: 20%;
    padding: 1%;
}
#main-img-three {
    padding-left: 20%;
    width: 10rem;
}
#main-title-three {
    grid-column: 1/2;
    grid-row: 2/3;
}
#main-text-three {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/3;
}
#mainItemFour {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    gap: 1vw;
    margin-left: 20%;
    padding: 1%;
}
#main-img-four {
    padding-left: 20%;
    width: 10rem;
}
#main-title-four {
    grid-column: 2/3;
    grid-row: 2/3;
}
#main-text-four {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/3;
}
#mainItemFive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .1fr;
    gap: 1vw;
    margin-right: 20%;
    padding: 1%;
}
#main-img-five {
    padding-left: 20%;
    width: 10rem;
}
#main-title-five {
    grid-column: 2/3;
    grid-row: 2/3;
}
#main-text-five {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/3;
}