body, html, #content {
    height: 100vh;
}
body {
    background-color: rgb(50, 50, 50);
    margin: 0px;
}
#content {
    display: flex;
    flex-direction: column;
}
.Riga {
    position: fixed;
    z-index: -1;
    color: rgb(54, 54, 54);
}
#main-menu-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContent {
    padding: 30px 0px 30px 0px;
}
.mainTab {
    margin: 50px;
    padding: 100px;
    background-color: rgba(35, 35, 35, 0.7);
    color: orange;
}
#mainItemOne {
    margin-right: 30%;
}
#mainItemTwo {
    margin-left: 30%;
}
#mainItemThree {
    margin-right: 30%;
}