header {
    width: 100vw;
    background-color: var(--module-background);
    position: fixed;
    top: 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    max-width: 1550px;
}

.headerItem {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-family: var(--main-font);
    color: var(--main-color);
    border: none;
    margin: 0px 25px 0px 25px;
    height: 25px;
    font-size: 1.5vw;
}
.headerItem:hover {
    cursor: pointer;
}
.footer {
    width: 100vw;
    font-family: var(--main-font);
    color: var(--main-color);
    background-color: var(--module-background);
    position: fixed;
    bottom: 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-evenly;
    max-width: 1600px;
}
.footerItem {
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    min-width: 25px;
}
#shirtCasual, #billPrice, #telephone {
    padding-right: 5px;
    width: 20px;
}